/**
 * Site header
 */
.site-header {
    font-family: 'Space Mono';
    background-color: black;
    border-top: 30px;
    margin-top: 0px;
    border-bottom: 0px solid black;
    min-height: $spacing-unit * 1.865;
    line-height: $base-line-height * $base-font-size * 2.25;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    margin-bottom: 0;
    float: left;


    @include media-query($on-palm) {
        padding-right: 25px;
    }

    &,
    &:visited {
        color: white;
    }
}

.site-nav {
    margin-top: 0;
    font-family: 'Space Mono';
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-align: right;

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 15px;
        text-align: center;

        > svg path {
            fill: bisque;
        }
    }

    label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }

    input ~ .trigger {
        clear: both;
        display: none;
    }

    input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
    }

    .page-link {
        font-family: 'Space Mono';
        color: bisque;
        line-height: $base-line-height;
        display: block;
        padding: 5px 10px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 0;
        }

        margin-left: 20px;
    }

    @media screen and (min-width: $on-medium) {
        position: static;
        float: right;
        border: none;
        background-color: inherit;

        label[for="nav-trigger"] {
            display: none;
        }

        .menu-icon {
            display: none;
        }

        input ~ .trigger {
            display: block;
        }

        .page-link {
            display: inline;
            padding: 0;

            &:not(:last-child) {
                margin-right: 20px;
            }

            margin-left: auto;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    font-family: 'Space Mono', monospace;
    background-color: black;
    border-top: 1px solid white;
    padding: $spacing-unit 0;
}

.footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-family: 'Space Mono', monospace;
    @include relative-font-size(0.9375);
    color: bisque;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
    .footer-col-1 {
        width: -webkit-calc(35% - (#{$spacing-unit} / 2));
        width: calc(35% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width: calc(20% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width: calc(45% - (#{$spacing-unit} / 2));
    }
}

@media screen and (min-width: $on-medium) {
    .footer-col {
        float: left;
    }
}



/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
    flex: 1 0 auto;
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.page-heading {
    color: white;
    font-family: 'Space Mono', monospace;
    @include relative-font-size(2);
}

.post-list {
    font-family: 'Space Mono', monospace;
    margin-left: 0;
    list-style: none;

    > li {
        margin-right: 100px;
        float: left;
        margin-bottom: $spacing-unit;
        width: 100%;
        height: 50px;
    }
}

.post-meta {
    background-color: black;
    margin-right: 1420px;
    color: bisque;
    font-size: $small-font-size;
    color: white;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
}


.about {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;

}



.about li {
    word-wrap: break-word;
    border-radius: 5px;
    width: 350px;
    margin-top: 20px;

    @media screen and (min-width: $on-large) {
        width: 350px;
        word-wrap: break-word;
        border-radius: 5px;
    }
}

#about {
    border-radius: 5px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: black;
    color: bisque;

    @media screen and (max-width: 768px) {
        width: 90%;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#description {

    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: black;
    color: bisque;

    @media screen and (max-width: 768px) {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    @media screen and (max-width: 768px) {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }
}



#me img {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 50%;
    border-radius: 50%;
    width: 29, 5%;
    height: auto;

    @media screen and (max-width: 768px) {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

#me img:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
}

#me p {
    width: 100%;

    @media screen and (min-width: $on-large) {
        width: 50%;
    }
}

#posts {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
}

.homestuff {
    clear: both;

}

.homestuff h2 {
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.column {
    max-width: 30%;
    padding: 20px;
    vertical-align: middle;

    @media screen and (max-width: 768px) {
        flex: 100%;
        max-width: 100%;
        padding: 20px;
    }
}

.column img {
    margin-bottom: 30px;
    vertical-align: middle;
    justify-content: center;
    transition: 0.5s ease;
}

.column img:hover {
    transform: scale(1.05);
}

#contact {
    border-radius: 5px;
    padding: 20px;
    background: black;
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
    color: white;
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid bisque;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid white;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Space Mono', monospace;
    width: 100%;
    background: bisque;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: black;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: white;
}

#portfolio {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 560px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: black;

    @media screen and (max-width: 768px) {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 560px;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title .post-content h1 {
    border-radius: 5px;
    background-color: black;
    color: white;
    @include relative-font-size(2.625);
    line-height: 1;

    @media screen and (min-width: $on-large) {
        @include relative-font-size(2.625);
    }
}

.post-content {
    border-radius: 5px;
    background-color: black;
    color: bisque;
    padding: 30px;
    margin-bottom: $spacing-unit;


    h2 {
        @include relative-font-size(1.75);

        @media screen and (min-width: $on-large) {
            @include relative-font-size(2);
        }
    }

    h3 {
        @include relative-font-size(1.375);

        @media screen and (min-width: $on-large) {
            @include relative-font-size(1.625);
        }
    }

    h4 {
        @include relative-font-size(1.125);

        @media screen and (min-width: $on-large) {
            @include relative-font-size(1.25);
        }
    }
}


.social-media-list {

    margin: 0 auto;

    li {
        float: left;
        margin: 0 5px;

        &:first-of-type {
            margin-left: 0
        }

        &:last-of-type {
            margin-right: 0
        }

        a {
            display: block;
            padding: $spacing-unit / 4;
        }

        .svg-icon {
            fill: bisque;
        }

        &:hover .svg-icon {
            fill: white;
        }
    }
}


/**
 * Grid helpers
 */
.one-half {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
}
