---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
</div>

<section class="homestuff" id="homestuff">
            <div class="row">
                <div class="column">
                    <a href="https://youtu.be/2Ut92OUQ5U8">
                        <img src="/assets/images/work1.jpg" style="width:100%" alt="LPLOL">
                    </a>

                    <a href="https://youtu.be/XoGkiykXsHo">
                        <img src="/assets/images/work2.jpg" style="width:100%" alt="Moinho">
                    </a>

                    <a href="https://youtu.be/LUSLqQsNvQ8">
                        <img src="/assets/images/work3.jpg" style="width:100%" alt="El Chupacabra">
                    </a>

                    <a href="https://youtu.be/7ZqKzFwhWn4">
                        <img src="/assets/images/work4.jpg" style="width:100%" alt="Summer Jammin">
                    </a>
                </div>

                <div class="column">
                    <a href="https://youtu.be/P2hEH4Y26rM">
                        <img src="/assets/images/work5.jpg" style="width:100%" alt="Nature">
                    </a>

                    <a href="https://youtu.be/2Ut92OUQ5U8">
                        <img src="/assets/images/work6.jpg" style="width:100%" alt="Nectar">
                    </a>

                    <a href="https://youtu.be/2GpeMs8mz8c">
                        <img src="/assets/images/work7.jpg" style="width:100%" alt="Jammin March/April">
                    </a>

                </div>